<h1>Listing principals</h1>

<table>
  <tr>
    <th>Request type</th>
    <th>Fund</th>
    <th>Lista</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @principals.each do |principal| %>
  <tr>
    <td><%= principal.request_type_id %></td>
    <td><%= principal.fund_id %></td>
    <td><%= principal.lista %></td>
    <td><%= link_to 'Show', principal %></td>
    <td><%= link_to 'Edit', edit_principal_path(principal) %></td>
    <td><%= link_to 'Destroy', principal, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Principal', new_principal_path %>
