<h1>Listing users</h1>

<table>
  <tr>
    <th>Email</th>
    <th>Username</th>
    <th>Area</th>
  </tr>

  <% @users.each do |user| %>
    <tr>
    	<% @rol= Rol.find(user.rol_ids[0]) %>
      <td><%= user.email %></td>
      <td><%= user.username %></td>
      <td><%= @rol.nombre%></td>
      <td><%= link_to 'Ver', user %></td>
 
      <td><%= link_to 'Editar', edit_user_path(user) %></td>

      <td><%= link_to 'Eliminar', user, :confirm => 'Esta seguro?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<br />

<%= link_to 'Crear Usuario', new_user_path %>
<%= link_to 'Salir', destroy_user_session_path %>